/* Master Styles */
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body, input[text], button {
    color: #888;
}

h1 {
    color: gray;
    font-weight: 400;
}

h2{
    color: gray;
    font-weight: lighter;
    margin: 20px 0;
}

h3 {
    padding-bottom: 1%;
    color: #444;
    font-weight: 100;
}

h4{
    margin-bottom: 0;
}

ul {
    list-style-position: inside;
    padding-left: 0px;
}

img {
    width: 100%;
}

a{
    color:white !important;
}

.right-align {
    text-align: right;
}

.btn-primary {
    background-color: #2ac7d2 !important;
    border-color: #2ac7d2 !important;

}

.center {
    text-align: center;
    margin: 0 auto;
}

.pull-xs-right {
    float:right;
}


