/*
This document contains the styling for general elements
0. body
1. heading
2. links
3. input fiels
4. modals
5. general classes
*/


/******O.BODY******/
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body, input[text], button {
    color: #888;
}

/******1.HEADINGS******/

h1 {
    color: gray;
    font-weight: 400;
}

h2{
    color: gray;
    font-weight: lighter;
    margin: 20px 0;
}

h3 {
    color: #444;
    font-weight: 100;
}

h4{
    font-weight: 400;
}

h5{
    font-size: 0.7em;
}

/******2.ELEMENTS*****/
ul {
    list-style-position: inside;
    padding-left: 0px;
}

img {
    width: 100%;
}

a{
    color:white !important;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin-bottom: 50px;
}


/********3.INPUT********/

input {
    text-align: center;
    border: 1px solid lightgray;
    height: 30px;
    width: 100%;
    padding: 5px;
}

input[type="number"]{
    padding: 0px;
}

textarea {
    border: 1px solid lightgray;
    width: 100%;
}


/*select*/
.styled-select {
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    color:black;
}

.styled-select select {
    background: url(./../../../../app/images/arrow_down.png) no-repeat right rgba(255,255,255, 0.6);
    background-size: 35px 35px;
    border: 1px solid lightgray;
    font-size: 14px;
    padding: 5px 40px 5px 5px; /* If you add too much padding here, the options won't show in IE */
    margin: 5px;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    margin: 0px 5px !important;
}

option {
    font-size: 0.8em;
    max-width: 250px;
}

.col-xs-12 {
    padding: 0;
}

/******4.MODALS********/
.modal.right .modal-content,
.modal.bottom .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body,
.modal.bottom .modal-body {
    padding: 15px 15px 80px;
}

/*Right*/
.modal-header {
    background-color: #2ac7d2;
    color:white;
}

.modal.right.fade .modal-dialog{
    right: -50%;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog{
    right: 0;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 50%;
    margin-top:125px;
    height: 80%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

/*Bottom*/
.modal.bottom .modal-dialog {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 87%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.bottom.fade .modal-dialog {
    bottom: -50%;
    -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
    -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
    transition: opacity 0.3s linear, bottom 0.3s ease-out;
}

.modal.bottom.fade.in .modal-dialog {
    bottom: 0;
}

@media screen and (max-width: 480px) {
    .modal.bottom.fade .modal-dialog {
        bottom: -100%;
    }

    .modal.right.fade .modal-dialog{
        right: -100%;
    }
    .modal.right .modal-dialog,
    .modal.bottom .modal-dialog {
        width: 100%;
    }
}

/********GENERAL CLASSES***********/
.right-align {
    text-align: right;
}

.btn-primary {
    background-color: #2ac7d2 !important;
    border-color: #2ac7d2 !important;

}

.center {
    text-align: center;
    margin: 0 auto;
}

.pull-xs-right {
    float:right;
}

.container {
    max-width: 1200px;
}

.small{
    font-size: 0.7em;
}


